.table {
    border-collapse: collapse;
    width: 100%;
    font-family: 'Libre Franklin', sans-serif;
}

.table th, td {
    text-align: center;
    padding: 20px;
}


.table tbody tr:nth-child(odd) {
    background-color: #E9EEF6; /* Light gray for odd rows */
}

.table tbody tr:nth-child(even) {
    background-color: #fff; /* White for even rows */
}

.open {
    border: 1px solid #41BC63;
    background: #EBF9F1;
    border-radius: 22px;
    color: #41BC63;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.booked {
    border: 1px solid #BC9241;
    background: #FBF9F4;
    border-radius: 22px;
    color: #BC9241;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.completed {
    border: 1px solid #BC4141;
    background: #FBF4F4;
    border-radius: 22px;
    color: #BC4141;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.actionBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.bookBtn {
    background: #CC5A71;
    color: #ffffff;
    border-radius: 8px;
    border: 0;
    padding: 10px 15px;
    font-weight: bold;
}

.bookBtn:hover {
    background-color: #D6AFB7

}

.deleteBtn {
    border: 1px solid transparent;
    background: rgb(0, 0, 0, 0);
}

.deleteBtn:hover {
    border: 1px solid #BC4141;
    border-radius: 5px;
}