.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: auto;
    align-items: center;
    justify-content: flex-start;
    background: #1A659E;
}

.navBar {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 100px 20px;
    z-index: 1000; /* Makes sure the navbar is on top of other content */
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    align-items: center;

}

.navBar h1 {
    font-size: 40px;
    margin: 60px 0 10px 0;
    padding: 0;
    font-weight: bolder;
}

.turq {
    color: #00E3F3;
}

.white {
    color: #ffffff;
}

.navBar hr {
    color: #ffffff;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 10px;
}

.navBar h3 {
    font-size: 16px;
    color: #ffffff;
    font-weight: normal;
}


.navButtons {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top: 10px;
    gap: 30px;
}

.titleNav button {
    width: 100%;
}

.menuBtn {
    display: inline-block;
    padding: 30px 20px;
    background-color: #ffffff;
    color: #161B4B;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    word-wrap: break-word;
}

.menuBtn img, span {
    display: inline-block;
    vertical-align: middle;
}

.menuBtn img {
    margin-right: 20px;
}

.menuBtn:hover {
    background-color: #CBFFFC
}

.active {
    background-color: #CBFFFC;
}

.content {
    display: flex;
    flex: 4;
    width: 40%;
    overflow: auto;
    height: 99%;
    padding: 40px;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: auto;
    background: #ffffff;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}


.btn {
    display: inline-block;
    background: #CC5A71;
    color: #ffffff;
    border-radius: 15px;
    border: 0;
    font-weight: bold;
    margin: 5px;
    padding: 5px 20px;
    height: 60%;
    word-wrap: break-word;
}

.btn:hover {
    background-color: #D6AFB7
}

.mainContent {
    display: flex;
    flex-direction: row;
    margin: 60px;
    gap: 50px;
    width: 90%;
    height: 100%;
    overflow: auto;
    padding: 40px;
    border-radius: 20px;
}

.leftContent {
    flex: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
}

.leftSub {
    display: flex;
    flex-direction: column;
    background-color: #EEE5E5;
    height: 50%;
    padding: 50px;
    border-radius: 20px;
    justify-content: space-between;
}

.topBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.topBar img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: auto;
    margin-bottom: 20px;
}

.category {
    vertical-align: center;
}

.category h2 {
    font-size: 40px;
    font-weight: bold;
}

.category h3 {
    font-size: 30px;
    font-weight: normal;
}

.title {
    display:flex;
    flex-direction: row;
}

.rightContent {
    display: flex;
    flex-direction: column;
    background-color: #EEE5E5;
    height: 100%;
    padding: 30px;
    border-radius: 20px;
    gap: 20px;
}

.rightSub {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    height: 50%;
}