.topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 50px;
}

.topBar h1 {
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    width: 50%;
    vertical-align: middle;
}


.btn {
    display: inline-block;
    background: #CC5A71;
    color: #ffffff;
    border-radius: 15px;
    border: 0;
    font-weight: bold;
    margin-top: 5px;
    padding: 20px 30px;
}

.btn:hover {
    background-color: #D6AFB7
}

.mainContent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin: 30px auto;
    gap: 50px;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px;
}

.gridSquare {
    background-color: #EEE5E5;
    border-radius: 20px;
    aspect-ratio: 1 / 1;
    padding: 40px 100px 40px 40px;
}

.gridSquare h1 {
    margin-top: 0;
    font-size: clamp(1rem, 2.5vw, 3rem);
}

.gridSquare h3 {
    font-size: clamp(1rem, 1vw, 1.2rem);
    font-weight: normal;
    line-height: 0.5;
    margin-top: 1rem;
}
