.btn {
    display: inline-block;
    background: #CC5A71;
    color: #ffffff;
    border-radius: 15px;
    border: 0;
    font-weight: bold;
    margin-top: 5px;
    padding: 20px 30px;
}

.btn:hover {
    background-color: #D6AFB7
}

.mainContent {
    display: flex;
    flex-direction: column;
    margin: 60px;
    gap: 50px;
    width: 90%;
    height: 100%;
    overflow: auto;
    padding: 40px;
    background-color: #EEE5E5;
    border-radius: 20px;
}

.topContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topContent h1 {
    margin-top: 30px;
    font-size: clamp(1rem, 2.5vw, 3rem);
}

.topContent h3 {
    font-size: clamp(1rem, 1vw, 1.2rem);
    font-weight: normal;
    line-height: 3;
    margin-top: 1rem;
}

.refillBtns {
    height: 15%;
    display: flex;
    gap: 20px;
}

.bottomContent {
    background: #ffffff;
    height: 100%;
    padding: 30px;
}

.bottomContent h1 {
    font-size: 20px;
}

.bottomContent table {
    width: 100%;
    border-collapse: collapse; /* Ensures borders don't have gaps */
    background-color: #ffffff;
}

.bottomContent th {
    border-bottom: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

.bottomContent td {
    text-align: left;
    padding-left: 3px;
}

.bottomContent tr {
    background-color: #ffffff;
}