.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: auto;
    align-items: center;
    justify-content: flex-start;
    background: #1A659E;
}

.navBar {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 100px 20px;
    z-index: 1000; /* Makes sure the navbar is on top of other content */
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    align-items: center;

}

.navBar h1 {
    font-size: 40px;
    margin: 60px 0 10px 0;
    padding: 0;
    font-weight: bolder;
}

.turq {
    color: #00E3F3;
}

.white {
    color: #ffffff;
}

.navBar hr {
    color: #ffffff;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 10px;
}

.navBar h3 {
    font-size: 16px;
    color: #ffffff;
    font-weight: normal;
}


.navButtons {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top: 10px;
    gap: 30px;
}

.titleNav button {
    width: 100%;
}

.menuBtn {
    display: inline-block;
    padding: 30px 20px;
    background-color: #ffffff;
    color: #161B4B;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    word-wrap: break-word;
}

.menuBtn img, span {
    display: inline-block;
    vertical-align: middle;
}

.menuBtn img {
    margin-right: 20px;
}

.menuBtn:hover {
    background-color: #CBFFFC
}

.active {
    background-color: #CBFFFC;
}

.content {
    display: flex;
    flex: 4;
    width: 40%;
    height: 99%;
    padding: 40px 0 40px 40px;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: auto;
    background: #ffffff;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 50px;
}

.topBar h1 {
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    width: 50%;
    vertical-align: middle;
}


.btn {
    display: inline-block;
    background: #CC5A71;
    color: #ffffff;
    border-radius: 15px;
    border: 0;
    padding: 10px 35px;
    font-weight: bold;
    height: 50%;
    vertical-align: middle;
}

.btn:hover {
    background-color: #D6AFB7
}

.btn img, span {
    display: inline-block;
    vertical-align: middle;
}

.btn img {
    margin-right: 20px;
}

.mainContent {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 50px;
}

.profilePic {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    flex: 1;
    background-color: #EEE5E5;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.profilePic img {
    width: 300px;
    height: auto;
}

.info {
    flex: 3;
}

.profileInfo h2 {
    font-size: 23px;
    font-weight: normal;
    color: #A6A6A6;
    margin-bottom: 0;
}

.profileInfo h3 {
    font-size: 28px;
    font-weight: normal;
    color: #161B4B;
    margin-top: 0;
}